@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
body {
    background-color: hsl(234, 29%, 20%);
}
.container {
    width:500px;
    height: 480px;
    margin: auto;
    margin-top: 100px;
    background: white;
    border-radius: 30px;
    position: relative;
}
img {
    position: absolute;
    top: 50px;
    left: 50px;
}

h1 {
    font-weight: 700;
    color: hsl(234, 29%, 20%);
    font-size: 48px;
    position: absolute;
    top: 130px;
    left: 50px;
    margin-right: 50px;
}
p {
    color: hsl(234, 29%, 20%);
    position: absolute;
    font-size: 16px;
    top: 250px;
    left: 50px;
    margin-top: 15px;
    margin-right: 70px;
}
button {
    position: absolute;
    top: 380px;
    left: 50px;
    height: 55px;
    width: 400px;
    font-size: 18px;
    margin-right: 50px;
    background-color: hsl(234, 29%, 20%);
    color: white;
    border: none;
    border-radius: 8px;
}
button:hover, button:active {
    background: linear-gradient(to bottom right, hsl(344, 100%, 67%), hsl(4, 100%, 67%));
    box-shadow: 0 5px 20px hsl(4, 100%, 67%);
}
#email {
    color: hsl(234, 29%, 20%);
    font-weight: 700;
}

@media (max-width: 750px) {
    .container {
        width: 100vw;
        height: 100vh;
        margin: 0;
        border-radius: 0;
    }
    img,h1,p,button {
        left: 8vw;
    }
    p {
        line-height: 24px;
    }
    button {
        width: 82vw;
        top: 82vh;
    }
}